
.radv {
    font-family: 'Tangerine', cursive;
}

.boringv {
    font-family: 'Goldman', cursive;
}

body {
    background-image: url("desk.png");
    background-repeat: round;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.memo {
    background-image: url("paper2.jpg");
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.clue-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#clue-button {
    text-align: center;
    background-color: #F5F5F5;
    display: inline;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}


@media only screen and (min-width: 601px) {
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .column {
        display: flex;
        flex-direction: column;
    }
}