<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <section>
      <input id="clue-box" type="text"/>
      <input id="clue-button" type="button" value="Enter">
    </section>
    <script>
      const cluebox = document.getElementById("clue-box");
      function goToClue() {
        window.location = cluebox.value;
      }
      const cluebutton = document.getElementById("clue-button");

      cluebutton.addEventListener("click", goToClue, false);
    </script>
  </body>
</html>